html, body {
    margin: 0;
    padding: 0;
    color: black;
}

.container {
    margin: 0 auto;
    display: flex;
    align-items: center;
}

/* Head */
.head {
    font-size: 32px;
    height: 64px;
}

.head .container{
    height: 64px;
    width: 100%;
    justify-content: space-between;
}

.head .container .logo {
    display: flex;
}

.head img {
    margin-left: 24px;
    margin-right: 12px;
}

.head ul{
    margin-right: 24px;
}

.head li{
    display: inline-block;
    padding: 0 16px;
}

.head #colmar {
    font-weight: bold;
}

.head #academy {
    color: gray;
}

/* Banner */

.banner{
    background-color: gray;
}

.image1{
    width: 60%;
    margin: 32px 24px;
}

.banner h1{
    font-weight: bold;
}

.banner p{
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: black;
    color: white;
}

/* Practice */

.practice .container{
    margin: 0;
    padding: 0;
}

.image2 {
    width: 60%;
    margin: 0;
    padding: 32px 24px;
}

.image2 h1{
    margin-top: 32px;
    margin-bottom: 24px;
}

   /*information */ 

.information{
    width: 40%;
    margin-top: 32px;
    margin-bottom: 32px;
}

.information .container{
    flex-direction: column;
    align-items: flex-start;
}

.cont{
    display: flex;
}

.imag3{
    height: auto;
    margin: 16px 16px;
}

.text2{
    width: 100%;
    align-self: center;
}

.text2 p{
    margin-top: 8px;
    margin-bottom: 8px;
}