html, body {
    margin: 0;
    padding: 0;
    color: black;
}

.container {
    margin: 0 auto;
    display: flex;
    align-items: center;
}

/* Head */
.head {
    font-size: 32px;
    height: 64px;
}

.head .container{
    height: 64px;
    width: 100%;
    justify-content: space-between;
}

.head .container .logo {
    display: flex;
}

.head img {
    margin-left: 24px;
    margin-right: 12px;
}

.head ul{
    margin-right: 24px;
}

.head li{
    display: inline-block;
    padding: 0 16px;
}

.head #colmar {
    font-weight: bold;
}

.head #academy {
    color: gray;
}

/* Banner */

.banner{
    background-color: gray;
}

.cont0{
    display: flex;
    width: 60%;
}

.image1{
    max-width: 100%;
    height: auto;
    display: block;
    margin: 32px 24px;
}

.banner h1{
    font-weight: bold;
}

.banner h2{
    margin-left: 0;
}

.banner p{
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-left: 0;
    background-color: black;
    color: white;
}

/* Practice */

.practice .container{
    margin: 0;
    padding: 0;
}

.image2 {
    width: 60%;
    margin: 0;
    padding: 32px 24px;
}

.image2 img{
    max-width: 100%;
    height: auto;
}

.image2 h1{
    margin-top: 32px;
    margin-bottom: 24px;
}

   /*information */ 

.information{
    width: 40%;
    margin-top: 32px;
    margin-bottom: 32px;
}

.information .container{
    flex-direction: column;
    align-items: flex-start;
}

.cont{
    display: flex;
}

.imag3{
    height: auto;
    margin: 16px 16px;
}

.text2{
    width: 100%;
    align-self: center;
}

.text2 p{
    margin-top: 8px;
    margin-bottom: 8px;
}

/*Learning*/
.learning {
    display: block;
    background-color: gray;
}

.learning h1{
    margin: 32px 0 0 0;
    text-align: center;
    width: 100%;
}

.courses{
    margin: 0 72px 32px 72px;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
}


.cont3{
    margin: 32px 16px 0 16px;
    background-color: white;
}

.cont3 img{
    height: auto;
    margin-bottom: 16px;
}

.cont3 h3{
    margin-top: 8px;
    margin-bottom: 8px;
}

.cont3 p{
    margin-bottom: 24px;
}

.cont ,h2,h3,p{
    margin-left: 16px;
}

/*Thesis exhibit*/

.thesis {
    display: block;
    background-color: white;
}

.thesis h1 {
    width: 100%;
    text-align: center;
    margin: 32px 0 32px 0;
}

.cont4 {
    width: 60%;
    height: auto;
    margin: 0 24px 32px 24px;
}

.cont4 video{
    max-width: 100%;
}

.cont4 h2 {
    margin: 24px 0 8px 0;
}

.cont5 {
    width: 40%;
}

.img4{
    width: 35%;
    height: auto;
    margin: 16px 16px 16px 16px;
}

.text4{
    align-self: center;
}

.fisma{
    background-color: gray;
    display: flex;

}

.now{
    display: flex;

}

/*Footer*/

footer{
    margin: 16px 24px 16px 24px;
    display: flex;
    justify-content: space-between;
}

.cont6{
    display: inline-block;
}

.cont6 li{
    text-decoration: none;
    display: inline-block;
    margin: 0;
    padding: 0 16px 0 16px;
}

.cont6 p{
    margin-left: 0;
    padding-left: 0;
    align-self: center;
}